@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
.navbar {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 2px 0;
  background-color:  #ff7477;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  font-family: "Pacifico";
  transition: all 0.3s ease;
}

.navbar .logo a span {
  color:  #ff7477;
}
.navbar.sticky .logo a span {
  color: white;
}
.navbar.sticky .logo a:hover,
.navbar.sticky .logo a span:hover {
  color: black;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  color: #fff;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color:   #ff7477;
}
.navbar.sticky .menu li a:hover {
  color: #000;
}

.menu-btn {
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/*------------------------------------------------------------------Scroll button styling-------------------------------------------------------------------*/
.scroll-up-btn {
  position: fixed;
  height: 50px;
  width: 47px;
  background:   #ff7477;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  z-index: 999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 30px;
}

.fadein {
  opacity: 0.5;
}
.showme {
  transition: opacity 0.1s ease;
  opacity: 1 !important;
}

/*---------------------------------------------------------- Home Section Styling---------------------------------------------------------------------*/
.home {
  display: flex;
  background: url(images/banner.png) no-repeat center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  font-weight: 500;
  color: #ff7477;
}
.home .home-content a {
  display: inline-block;
  background: #ff7477;
  color: #fff;
  font-size: 25px;
  padding: 8px 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid  #ff7477;
  transition: all 0.3s ease;
}
.home .home-content .web {
  margin-right: 25px;
}

.home .home-content a:hover {
  color: white;
  background: #000;
}

/*------------------------------------------------all similar content styling code--------------------------------------------------------------------*/
section {
  padding: 100px 0;
}
.about,
.skills,
.projects,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  font-size: 20px;
  color: #ff7477;
  background: #fff;
  transform: translateX(-50%);
}

.skills,
.contact {
  background: #111;
  color: #fff;
}
.skills .title::before,
.contact .title::before {
  background: #fff;
}

/*---------------------------------------------------------------------about section styling-------------------------------------------------------------------*/
.about .title::after {
  content: "who am i";
}

.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 40px 0px 40px 0px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color:   #ff7477;
}
.about .about-content .right p {
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 1px;
}
.about .about-content .right a {
  display: inline-block;
  background:  #ff7477;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 3px 25px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #ff7477;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: #ff7477;
  background: none;
}

/*-------------------------------------------------------------------Social media section styling----------------------------------------------------------*/
.button1 {
  float: left;
  width: 45px;
  height: 45px;
  cursor: pointer;
  color:#000;
  background: #fff;
  overflow: hidden;
  border-radius: 35px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.button1 .icon {
  width: 45px;
  height: 45px;
  text-align: center;
  color:white;
  border-radius: 35px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.button1 .icon i {
  font-size: 18px;
  line-height: 45px;
  color:  #ff7477;
  transition: all 0.3s ease-in-out;
}
.button1:hover {
  width: 150px;
}
.button1:hover i {
  color:white;
}
.button1 span {
  font-size: 15px;
  font-weight: 500;
  line-height: 10px;
  margin-left: 5px;
}

.button1:nth-child(1):hover .icon {
  background:   #ff7477;
}

.button1:nth-child(2):hover .icon {
  background:  #ff7477;
}

.button1:nth-child(3):hover .icon {
  background:  #ff7477;
}

.button1:nth-child(4):hover .icon {
  background: #ff7477;
}

.button1:nth-child(5):hover .icon {
  background:  #ff7477;
}

.button1:nth-child(6):hover .icon {
  background:  #ff7477;
}
.button1:nth-child(7):hover .icon {
  background: #ff7477;
}
.button1:nth-child(1) span a {
  color: #ff7477;
}

.button1:nth-child(2) span a {
  color:  #ff7477;
}

.button1:nth-child(3) span a {
  color: #ff7477;
}

.button1:nth-child(4) span a {
  color: #ff7477;
}

.button1:nth-child(5) span a {
  color: #ff7477;
}

.button1:nth-child(6) span a {
  color: #ff7477;
}
.button1:nth-child(7) span a {
  color: #ff7477;
}

/*------------------------------------------------------------------------Project section styling---------------------------------------------------------------*/
.projects .title::after {
  content: "check my work";
}
.projects .carousel .card {
  background: #222;
  border-radius: 10px;
  padding: 25px 20px;
  text-align: center;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover {
  background: rgb(48, 48, 48);
}
.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover .box {
  transform: scale(1.02);
}

.projects .carousel .card p {
  font-size: 16px;
  padding-top: 10px;
  color: #fff;
}
.projects .carousel .card img {
  height: 250px;
  width: 280px;
  object-fit: fill;
  border-radius: 10px;
  border: 2px solid 
  transition: all 0.3s ease;
}
.projects .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #ff7477 !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background:  #ff7477 !important;
}

/*----------------------------------------------------------- contact section styling----------------------------------------------------------------- */

.contact .buttons-container {
  display: flex;
  justify-content: center;
}

.button1 {
  margin: 0 10px; 
  color:#000;
}

.contact {
  text-align: center;
  padding: 20px;
}

.contact .title::after {
  background-color:#111;
  content: "get in touch";
}

.contact .contact-content {
  display: flex; 
  justify-content: center; 
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .left {
  text-align: center; 
}

.contact .contact-content .left .text1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.contact .contact-content .left .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}


.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: #ff7477;
}

.contact .contact-content .row .email-icon {
  margin-left: 0px;
}

.contact .contact-content .row .info {
  text-align: center;
}

.contact .contact-content .info .head {
  font-weight: 600;
}

.contact .contact-content .info .sub-title {
  color: #fff;
}

/*----------------------------------------------------------------end of contact-------------------------------------------------------*/

footer {
  background: #000000;
  padding: 20px 23px;
  color: #ffffff;
  text-align: center;
}
footer span a {
  color:  #ff7477;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 40px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 72px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 22px;
    padding: 6px 24px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left .wrapper {
    margin: 0 auto 10px;
  }
  .about .about-content .right {
    flex: 100%;
    margin-top: 30px;
  }

  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .contact .left .text {
    margin-top: 0px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .about .about-content .right .text .break {
    display: block;
  }
}

@media (max-width: 500px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .projects .carousel .card {
    margin-top: 10px;
    padding: 10px 15px;
  }
  .projects .carousel .card img {
    height: 180px;
    width: 200px;
  }
}

@media (max-width: 380px) {
  .about .about-content .left img {
    height: 250px;
    width: 250px;
  }
}


/*-----------------------------------------------------------------------------skills---------------------------------------------------------------------*/

.skills .title::after {
  background: #111;
  content: "what i know";
}
.sb{
  border-bottom: 1px;
  border-bottom-style: ridge;
  padding-bottom: 800px;
}
.flexsb{
  display: flex; 
  justify-content: space-evenly; 
  margin-bottom: 30px;


}
.skills .max-width {
  width: 100%; 
  margin-left: 0; 
  padding: 0; 
}

::selection{
color: #fff;
background: #ff7477;
}
.skill-bars{
  color: whitesmoke;
  margin: 10px;
  margin-left: 60px;
  padding: 35px 40px; 
  width: 3000px; 
  background: black;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.skill-bars:nth-child(1){
  margin-left: 100px;
}
.skill-bars .bar{
margin: 20px 0;
}
.skill-bars .bar:first-child{
margin-top: 0px;
}
.skill-bars .bar .info{
margin-bottom: 5px;
}
.skill-bars .bar .info span{
font-weight: 500;
font-size: 17px;
opacity: 0;
animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
100%{
  opacity: 1;
}
}
.skill-bars .bar .progress-line{
height: 10px;
width: 100%;
background: #f0f0f0;
position: relative;
transform: scaleX(0);
transform-origin: left;
border-radius: 10px;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
            0 1px rgba(243, 157, 157, 0.8);
animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
100%{
  transform: scaleX(1);
}
}
.bar .progress-line span{
height: 100%;
position: absolute;
border-radius: 10px;
transform: scaleX(0);
transform-origin: left;
  border: 3px ridge #ff7477;
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
background:  #ff7477;
         
animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.java span{
  width:80%;
  }
.bar .progress-line.c span{
  width:80%;
  }
.bar .progress-line.js span{
  width: 70%;
  }
.bar .progress-line.cpp span{
  width: 80%;
    }
  
.bar .progress-line.html span{
  width: 95%;
  }
.bar .progress-line.css span{
  width: 95%;
  }
.bar .progress-line.php span{
  width: 80%;
  }
.bar .progress-line.sql span{
  width: 95%;
  }
  
.bar .progress-line.mdb span{
  width: 85%;
    }
.bar .progress-line.figma span{
    width: 95%;
    }
.bar .progress-line.communication span{
  width: 95%;
    }
.bar .progress-line.leadership span{
  width: 95%;
    }

.progress-line span::before{
position: absolute;
content: "";
top: -10px;
right: 0;
height: 0;
width: 0;
border: 7px solid transparent;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-color: whitesmoke;
opacity: 0;
animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
position: absolute;
top: -28px;
right: 0;
font-weight: 500;
background: whitesmoke;
color: black;
padding: 1px 8px;
font-size: 12px;
  font-weight:bold;
border-radius: 3px;
opacity: 0;
animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
100%{
  opacity: 1;
}
}
.progress-line.java span::after{
  content: "80%";

}
.progress-line.c span::after{
content: "80%";
}
.progress-line.js span::after{
content: "70%";
}
.progress-line.cpp span::after{
  content: "80%";
  }

.progress-line.html span::after{
content: "95%";
}
.progress-line.css span::after{
content: "95%";
}
.progress-line.php span::after{
content: "80%";
}
.progress-line.sql span::after{
content: "95%";
}

.progress-line.mdb span::after{
  content: "85%";
  }
.progress-line.figma span::after{
  content: "95%";
  }
.progress-line.communication span::after{
  content: "95%";
  }
.progress-line.leadership span::after{
  content: "95%";
  }

  @media (max-width: 768px) {
    .sb {
      padding-bottom: 0;
    }
  
    .flexsb {
      flex-direction: column;
      align-items: center;
    }
  
    .skill-bars {
      max-width: 400px; 
      width: 80%; 
      margin: 20px auto; 
    }
  
    .skill-bars:nth-child(1) {
      margin-left: auto; 
    }
  }
  
  
  
  
  
  
/*----------------------------------------------EXPERIENCE---------------------------------------------------- */
.exp .experience {
  padding-bottom: 80px;
}

.exp .title::after {
  background: #ffffff;
  content: "work experience";
}

.exp .timeline {
  margin: 0px;
  padding: 10px 170px;
  position: relative;
  margin-top: 10px;
  flex: 0 0 100%;
  max-width: 100%;
}

.exp .timeline:before {
  content: '';
  width: 3px;
  left: 50%;
  height: 100%;
  background-color: #ff7477;
  position: absolute;
  filter: drop-shadow(0 0 10px  #ff7477);
}

.exp .timeline .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 50px); 
  text-align: right;
}

.exp .timeline .timeline-item:nth-child(even) {
  padding-left: calc(50% + 50px); 
}

.exp .timeline .timeline-item .timeline-item-inner {
  width:100%;
  padding: 30px;
  background: black;
  color: whitesmoke;
  box-shadow: 5px 5px 20px rgba(255,255,255,0.3), inset 0 0 10px  #ff7477; 
  border-radius: 10px;
  position: relative;
}

.exp .timeline .timeline-item .timeline-item-inner .icon {
  height: 40px;
  width: 40px;
  color: black;
  border: 5px solid  #ff7477;
  background-color:  #ff7477;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 18px;
  filter: drop-shadow(0 0 10px  #ff7477); 
}

.exp .timeline .timeline-item:nth-child(odd) .icon {
  right: -70px;
}

.exp .timeline .timeline-item:nth-child(even) .icon {
  left: -70px;
}


@media (max-width: 947px) {
  .exp .timeline {
    padding: 10px 50px; 
  }

  .exp .timeline .timeline-item:nth-child(odd),
  .exp .timeline .timeline-item:nth-child(even) {
    padding: 30px;
  }

  .exp .timeline .timeline-item .timeline-item-inner {
    padding: 20px; 
  }

  .exp .timeline .timeline-item:nth-child(odd) {
    padding-right: 30px; 
    text-align: right; 
  }

  .exp .timeline .timeline-item:nth-child(even) {
    padding-left: 30px;
    text-align: left; 
  }

  .exp .timeline .timeline-item:nth-child(odd) .icon {
    right: auto; 
    left: -30px; 
  }

  .exp .timeline .timeline-item:nth-child(even) .icon {
    left: auto; 
    right: -30px; 
  }
}



/*------------------------------------------------------------------------Certificates section styling---------------------------------------------------------------*/
.Certificate .title::after {
  background: #ffffff;
  content: "Achivements";
}
.Certificate .carousel .card {
  background: #222;
  border-radius: 10px;
  padding: 25px 25px;
  text-align: center;
  transition: all 0.3s ease;
}
.Certificate .carousel .card:hover {
  background: rgb(48, 48, 48);
}
.Certificate .carousel .card .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  transition: all 0.3s ease;
}

.Certificate .carousel .card:hover .box {
  transform: scale(1.02);
}

.Certificate .carousel .card p {
  font-size: 16px;
  padding-top: 10px;
  color: #fff;
}
.Certificate .carousel .card img {
  height: 250px;
  width: 280px;
  object-fit: fill;
  border-radius: 10px;
  border: 2px solid#ff7477;
  transition: all 0.3s ease;
}
.Certificate .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #ff7477 !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #ff7477; !important;
}

@media (max-width: 500px) {
  .max-width {
    padding: 0 23px;
  }
  .Certificate .carousel .card {
    margin-top: 10px;
    padding: 10px 15px;
  }
  .Certificate .carousel .card img {
    height: 180px;
    width: 200px;
  }
}
